# App
APP_PORT=3001
SECRET_KEY=SECRET_KEY_GENERATED_(64Byte)

# Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=...
DB_DATABASE=postgres
DB_PORT=5432

# SMTP
SMTP_DEBUG=1
SMTP_FROM=server@localhost
SMTP_HOST=localhost
SMTP_PORT=465
SMTP_USER=server@localhost
SMTP_PASSWORD=secret
SMTP_SECURE=1